@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #F2EBE3;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.container {
    width: 32rem;
    height: 58rem;
    background-color: #fff;
    border-radius: 1rem;
}

.container__image {
    width: 32rem;
    height: 24rem;
    background-image: url(../images/image-product-mobile.jpg);
    background-size: cover;
    border-radius: 1rem 1rem 0 0;    
}

.container__text {
    width: 32rem;
    height: 34rem;
    padding: 1rem 2.4rem;
    background-color: #fff;
    border-radius: 0 0 1rem 1rem;
    display: flex;
    flex-flow: column nowrap;
}

.container__text h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: .44rem;
    color: #6C7289;
    text-transform: uppercase;
    margin-bottom: 1.3rem;
}

.container__text h1 {
    font-family: 'Fraunces';
    font-size: 3rem;
    font-weight: 700;
    color: #1C232B;
    margin-bottom: 1.3rem;
}

.text__p {
    width: 27.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    color: #6C7289;
    line-height: 2rem;
    margin-bottom: 1.8rem;
}

.container__price {
    width: 18rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.8rem;
}

.price-one {
    font-family: 'Fraunces';
    font-size: 2.8rem;
    font-weight: 700;
    color: #3C8067;
}

.price-two {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    color: #6C7289;
}

.btn {
    width: 27.2rem;
    height: 4.5rem;
    background-color: #3C8067;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .7rem;
}

.btn__text {
    width: max-content;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #FFFFFF;
}

.btn img {
    width: 1.6rem;
}

.attribution a {
    text-decoration: none;
    color: #1C232B;
    transition: 200ms ease-in;
}

.attribution a:hover {
    color: #3C8067;
    text-decoration: underline;
}

@media (orientation: landscape) {

    body {
        gap: .8rem;
    }

    .container {
        width: 58rem;
        height: 32rem;
        display: flex;
    }
    
    .container__image {
        width: 29rem;
        height: 32rem;
        background-image: url(../images/image-product-desktop.jpg);
        background-position: center;
        border-radius: 1rem 0 0 1rem;
    }

    .container__text {
        width: 29rem;
        height: 32rem;
        padding: 1rem 2.4rem;
        border-radius: 0 1rem 1rem 0;
    }

    .container__text h3 {
        font-size: 1.1rem;
        margin-block: 1.2rem;
    }

    .container__text h1 {
        font-size: 2.5rem;
        margin-bottom: 1.3rem;
    }

    .text__p {
        width: 24rem;
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
    }

    .container__price {
        width: 17rem;
        margin-bottom: 1.5rem;
    }

    .price-one {
        font-size: 2.8rem;
    }

    .price-two {
        font-size: 1.3rem;
    }

    .btn {
        width: 24.2rem;
        height: 4.5rem;
    }
}

@media (width>= 1094px) {

    body {
        gap: 1.2rem;
    }

    .container {
        width: 75rem;
        height: 58rem;
        display: flex;
    }
    
    .container__image {
        width: 37.5rem;
        height: 58rem;
        background-image: url(../images/image-product-desktop.jpg);
        background-position: center;
        border-radius: 1rem 0 0 1rem;
    }

    .container__text {
        width: 37.5rem;
        height: 58rem;
        padding: 2rem 3.5rem;
        border-radius: 0 1rem 1rem 0;
    }

    .container__text h3 {
        font-size: 1.3rem;
        margin-block: 2rem;
    }

    .container__text h1 {
        width: 25rem;
        font-size: 3.6rem;
        margin-bottom: 2.9rem;
    }

    .text__p {
        width: 27rem;
        font-size: 1.6rem;
        line-height: 2.5rem;
        margin-bottom: 5rem;
    }

    .container__price {
        width: 22rem;
        margin-bottom: 3.8rem;
    }

    .price-one {
        font-size: 3.5rem;
    }

    .price-two {
        font-size: 1.6rem;
    }

    .btn {
        width: 30.3rem;
        height: 6rem;
    }

    .btn__text {
        font-size: 1.6rem;
    }

    .btn img {
        width: 1.8rem;
    }

    .attribution {
        font-size: 1.5rem;
    }
}